.searchbar {
    width: 530px;
    margin-left: 350px;
    margin-top: 320px;
    padding: 8px;
}

.logo {
    position: absolute;
    top: -40px; bottom: 0; left: 0; right: -40px;
    margin: auto;
    width: 320px;
}

ul {
    position: relative;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    width: 500px;
    right: -885px;
}
li {
    display: inline;
    padding: 10px;
    font-size: 95%;
    color: gray;
}
li  a{
    color: black;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
li img {
    height: 20px;
    width: 20px;
}

input[type="text"] {
    font-size: 20px;
    background-image: url(http://1.bp.blogspot.com/-lINg3E20_4Y/VebwdAy_MaI/AAAAAAAAFJU/8Jg2H-3-_cc/s1600/Microphone.png);
    background-repeat: no-repeat;
    background-size: 25px 30px;
    background-position: 505px;
    }

#user {
    height: 32px;
    width: 32px;
}

.button {
    position: relative;
    background-color: #F0F0F0;
    border: none;
    color: gray;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    right: -455px;
    top: 35px;
    font-weight: bold;
}

.button:hover {
    background-color: #E8E8E8;
    border-style: solid;
    border-color: #BABABA;
    border-width: 0.5px;
}