.searchbar {
    width: 530px;
    margin-left: 350px;
    margin-top: 305px;
    padding: 8px;
    padding-bottom: -7px;
    border: solid 1px #DCDCDC;
}

.logo {
    position: absolute;
    top: -30px; bottom: 0; left: 0; right: -40px;
    margin: auto;
    width: 320px;
}

ul {
    position: relative;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    width: 350px;
    right: -880px;
}
li {
    display: inline;
    padding: 10px;
    font-size: 95%;
    color: gray;
    position: relative;
}
li  a{
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
}
li img {
    height: 20px;
    width: 20px;
}

.topleft {
    top: -4px;
}

.profile {
    top:5px;
}

input[type="text"] {
    font-size: 20px;
    background-image: url(http://1.bp.blogspot.com/-lINg3E20_4Y/VebwdAy_MaI/AAAAAAAAFJU/8Jg2H-3-_cc/s1600/Microphone.png);
    background-repeat: no-repeat;
    background-size: 18px 20px;
    background-position: 515px;
    }

#user {
    height: 32px;
    width: 32px;
}

.button {
    position: relative;
    background-color: #F0F0F0;
    border: none;
    color: gray;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    right: -455px;
    top: 35px;
    font-weight: bold;
}

.button:hover {
    background-color: #E8E8E8;
    border-style: solid;
    border-color: #BABABA;
    border-width: 0.5px;
}

.bottombar {
    width: 1200px;
    background-color: #EDEDED;
    font-size: 18px;
    padding: 15px;
    top: 80px;
    right: 5px;
}

.bottombar li a {
    color: gray;
}

.rightside {
    float: right;
    top: -10px;
}